@import "partials/_reset";
@import "bourbon";
@import "neat/neat";
@import "partials/_variables";
@import "partials/_base";

header, section, footer {
  width: 100%;
  height: auto;
}

.header {
  position:fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background: white;
  z-index: 5;
  @include transition($long-transition box-shadow ease-out);
}

.logo {
  display: block;
  width: 8rem;
  height: 2rem;
  background: url(../img/glm-logo.svg) no-repeat center center;
  background-size: 100%;
  margin: 0 auto;
}

.wrapper {
  @include outer-container;
  width: 100%;
  padding: 1rem 1rem;
}

.hero {
  text-align: center;
  position:fixed;
  top: 0;
  left: 0;
}

.headlines {
  @include transition($long-transition opacity ease-out);
}

.fade-hero {
  .headlines {
    opacity: 0;
  }
  .pencil-img {
    opacity: 0.15;
    @include transition($long-transition opacity ease-out);
  }
}

.fade-contents {
  opacity: 0;
}

.hero .wrapper h1 {
  margin-top: 20%;
}

.pencil-img {
  margin-top: 4rem;
  width: 75%;
  height: auto;
  @include transition($long-transition opacity ease-out);
}

.main-content {
    position: absolute;
    top: 75%;
    z-index: 4;
    @include transition($long-transition opacity ease-out);
    .wrapper {
      padding-top: 2rem;
    }
}

.about p {
  font-size: 1.1em;
  line-height: 1.8;
  color: $gray-type;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.contact-links {
  padding-bottom: 7rem;
  position:relative;
    z-index: 4;
}

.main-content h2 {
  font-size: 1.1em;
  margin: 0 auto 4rem;
  text-align: center;
  font-style: italic;
  color: $gray-type;
  width: 100%;
  float: none;
  &:before {
    clear: both;
  }
}


.contact-item {
  a {
    font-size: 1.1em;
  }
}

// Style – iPad Up

@media only screen and (min-width: 768px) {

.about p {
  font-size: 1.65em;
}

.main-content h2 {
  font-size: 1.65em;
}

.contact-item {
  text-align: center;
  margin-bottom: 2rem;
  a {
    font-size: 1.65em;
  }
}

}


// Structure – iPad to Laptop

@media only screen and (min-width: 768px) and (max-width: 1279px) {

.about {
  @include span-columns(8);
  float: none;
  margin: 0 auto 4rem !important;
}

.about p {
  font-size: 1.65em;
}

}


// Structure – Laptop Up

@media only screen and (min-width: 1280px) {

.about {
  @include span-columns(7);
  float: none;
  margin: 0 auto 4rem !important;
}

.contact-links {
}

.contact-item {
  @include span-columns(3);
  padding-bottom: 7rem;
}

}